<div style="text-aligin; center;">
    <h1>Join To Company <%= @invite.sender.company.name %></h1>
    <p>I have made you a guest in this Tracked Time organization, as part of the <%= @invite.sender.company.name %>
    Please join me so we can start work together.</p>
    <p>Thanks!</p>
    Click <a href="<%= @link %>">here</a> to confirmation account.
    This link be expiry in a week
</div>
